html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main-body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ant-progress-inner {
  width: 50px !important;
  height: 50px !important;
}

.ant-progress-text {
  font-size: 0.5em !important;
}

.red td article {
  color: red;
}

.red-status {
  background: rgba(255, 0, 0, 0.2);
}

.green-status {
  background: rgba(0, 255, 0, 0.2);
}

thead {
  display: table-row-group;
}

footer {
  font-size: 9px;
  color: #f00;
  text-align: center;
}

#email,
#password {
  background-color: #a0a0a0 !important;
  color: #fff !important;
}

.customInput input:-webkit-autofill,
.customInput input:-webkit-autofill:hover,
.customInput input:-webkit-autofill:focus,
.customInput textarea:-webkit-autofill,
.customInput textarea:-webkit-autofill:hover,
.customInput textarea:-webkit-autofill:focus,
.customInput select:-webkit-autofill,
.customInput select:-webkit-autofill:hover,
.customInput select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 40px #a0a0a0 inset !important;
  -webkit-text-fill-color: #fff;
}

.customInput .ant-input-suffix .anticon {
  color: #fff !important;
}

.signup:hover {
  text-decoration: underline;
  cursor: pointer;
}

.float-label {
  position: relative;
  margin-bottom: 12px;
}

.label {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: normal;
  font-size: 12px !important;
  transition: 0.2s ease all;
  pointer-events: none;
}

.label-float {
  top: 1px;
  font-size: 10px !important;
}

.ant-input .customInput {
  padding: 16px 12px 4px 11px;
}

/* // .ant-select.customInput .ant-select-selector {
//   padding: 16px 10px 4px 11px;
// } */

.ant-select-single:not(.ant-select-customize-input).customInput
  .ant-select-selector {
  height: 48px;
  padding: 16px 10px 4px 11px;
}

.ant-select-single.customInput
  .ant-select-selector
  .ant-select-selection-search {
  top: 16px;
}

.custom-table td.ant-table-cell {
  padding: 0 !important;
  padding-left: 1px;
  font-size: 0.8em;
}

.myTable th.ant-table-cell {
  text-align: center !important;
}

@page {
  size: legal;
  margin: 0.5in;
}
