.main-body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ant-progress-inner {
  width: 50px !important;
  height: 50px !important;
}

.ant-progress-text {
  font-size: 0.5em !important;
}

.red td article {
  color: red;
}

.red-status {
  background: rgba(255, 0, 0, 0.2);
}

.green-status {
  background: rgba(0, 255, 0, 0.2);
}

thead {
  display: table-row-group;
}

footer {
  font-size: 9px;
  color: #f00;
  text-align: center;
}

#email,
#password {
  background-color: #a0a0a0 !important;
  color: #fff !important;
}

.customInput input:-webkit-autofill,
.customInput input:-webkit-autofill:hover,
.customInput input:-webkit-autofill:focus,
.customInput textarea:-webkit-autofill,
.customInput textarea:-webkit-autofill:hover,
.customInput textarea:-webkit-autofill:focus,
.customInput select:-webkit-autofill,
.customInput select:-webkit-autofill:hover,
.customInput select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 40px #a0a0a0 inset !important;
  -webkit-text-fill-color: #fff;
}

.customInput .ant-input-suffix .anticon {
  color: #fff !important;
}

@page {
  size: legal;
  margin: 0.5in;
}
