.main-body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  min-width: 100vw;
  min-height: 100vh;
}

.ant-progress-inner {
  width: 50px !important;
  height: 50px !important;
}

.ant-progress-text {
  font-size: 0.5em !important;
}

.red td article {
  color: red;
}

.red-status {
  background: rgba(255, 0, 0, 0.2);
}

.green-status {
  background: rgba(0, 255, 0, 0.2);
}

thead {
  display: table-row-group;
}

footer {
  font-size: 9px;
  color: #f00;
  text-align: center;
}

@page {
  size: legal;
  margin: 0.5in;
}
